<!-- Hero section -->
<section class="hero">
  <div class="container">
    <div class="hero__image"></div>
    <div class="hero__text container-pall">
      <h1>All your movies in one place</h1>
      <p>
        Discover a movie lover's paradise at our website, where you can bookmark and save all your favorite films with just a click.
      </p>
      <%= link_to "Make A New List", new_list_path, class: "button" %>
    </div>
  </div>
</section>

<%# Lists section %>
<section id="blog" class="lists">
  <div class="list__content container container-pall">
    <div>
        <h2>My Lists</h2>
        <p>Explore and find all your curated lists in one place.</p>
    </div>
    <div class="list__grid">
      <% @lists.each do |list| %>
          <div class="list__item">
          <%= link_to list_path(list) do %>
          <div>
            <div class="list__image" style="background-image: url('./assets/image-currency.jpg');"></div>
            <div class="list_length"><%= list.bookmarks.length%> Movie(s)</div>
          </div>
            <div class="list__text">
              <div class="list__description">
                <h3><%= list.name %> List</h3>
                <p><%= list.description %></p>
              </div>
              <span class="click">
                <%= link_to "Open List", list_path(list), class: "btn-click" %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
