<!-- Hero section -->
<section class="hero">
  <div class="container">
    <%# <div class="hero__image"></div> %>
    <div class="hero__text container-pall">
        <h1><%= @list.name %></h1>
        <p><%= @list.description %></p>
        <%= link_to "Back to Lists", lists_path, class: "button" %>
        <%= link_to "Edit List", edit_list_path(@list), class: "button" %>
        <%= link_to "Delete List", list_path(@list), class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
    <div class="list__image" style="width: 30%; min-height: 500px; background-image: url('<%= @list.photo.present? ? cl_image_path(@list.photo.key, crop: :fill) : asset_path('image-placeholder.jpg') %>');"></div>
  </div>
</section>


<%# Bookmarks section %>
<section class="lists">
    <div class="container container-py">
      <h3>Add a Bookmark</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <div class="form-inputs">
          <%= f.association :movie %>
          <%= f.input :comment %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "button" %>
        </div>
      <% end %>
    </div>
  <div class="list__content container container-pall">
    <div>
      <h2>My Bookmarks</h2>
    </div>
    <div class="list__grid">
    <% if @list.movies.length.zero?%>
      <p>There are no bookmarks yet.<p>
    <% else%>
      <% @list.movies.each do |movie| %>
        <div class="list__item">
          <%= link_to movie_path(movie) do %>
            <div>
              <div class="list__image" style="background-image: url(<%= movie.poster_url %>)"></div>
              <div class="list_length"><%= movie.rating %> <i class="fa-solid fa-star" style="color: $yellow;"></i></div>
            </div>
            <div class="list__text">
              <div class="list__description">
                <h3><%= link_to movie.title, movie_path(movie) %></h3>
                <% bookmark = @list.bookmarks.find_by(movie: movie) %>
                <p><%= bookmark.comment %></p>
                <%= link_to "Delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-warning" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>

  </div>
</section>
